[user]
	name = Oliver Kutiš
	email = analytika.oliver.kutis@gmail.com

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/kutis/.gitignore_global
